<!DOCTYPE html>
<html lang="en">
<head>

    <script src="static/js/flood.js"></script>
    <link rel="stylesheet" href="static/css/flood.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>{% block title %}home{% endblock %}</title>
</head>
<body>
    <nav>
      <label class="logo" >DISASTER</label> 
      <ul>
        <li><a href="hm">Home</a></li>
        <li><a href="cp">Camps</a></li>
        <li><a href="ad">Add Person</a></li>
        <li><a href="req">Requirements</a></li>
        <li><a href="req1">Requirements1</a></li>
      </ul>
    </nav>
    {% block content %}
    <div class="container-fluid">
<div class="row">
    <div class="col-lg-12 col-md-12" >
        <img src="static\image\Natural Disasters.jpg" id="a12" alt="">
</div>
    </div>
    </div>
    {% endblock %}
</body>
</html>